# Pyber Challenge

### 4.3 Loading and Reading CSV files

In [1]:
# Add Matplotlib inline magic command
%matplotlib inline
# Dependencies and Setup
import matplotlib.pyplot as plt
import pandas as pd

# File to Load (Remember to change these)
city_data_to_load = "Resources/city_data.csv"
ride_data_to_load = "Resources/ride_data.csv"

# Read the City and Ride Data
city_data_df = pd.read_csv(city_data_to_load)
ride_data_df = pd.read_csv(ride_data_to_load)

### Merge the DataFrames

In [2]:
# Combine the data into a single dataset
pyber_data_df = pd.merge(ride_data_df, city_data_df, how="left", on=["city", "city"])

# Display the data table for preview
pyber_data_df.head()

,city,date,fare,ride_id,driver_count,type
0,Lake Jonathanshire,2019-01-14 10:14:22,13.83,5739410935873,5,Urban
1,South Michelleport,2019-03-04 18:24:09,30.24,2343912425577,72,Urban
2,Port Samanthamouth,2019-02-24 04:29:00,33.44,2005065760003,57,Urban
3,Rodneyfort,2019-02-10 23:22:03,23.44,5149245426178,34,Urban
4,South Jack,2019-03-06 04:28:35,34.58,3908451377344,46,Urban

## Deliverable 1: Get a Summary DataFrame

In [3]:
#  1. Get the total rides for each city type
pyber_data_df.groupby(['type']).count()['ride_id']

type
Rural        125
Suburban     625
Urban       1625
Name: ride_id, dtype: int64

In [4]:
# 2. Get the total drivers for each city type
pyber_data_df.groupby(['type']).sum()['driver_count']

type
Rural         537
Suburban     8570
Urban       59602
Name: driver_count, dtype: int64

In [5]:
#  3. Get the total amount of fares for each city type
pyber_data_df.groupby(['type']).sum()['fare']

type
Rural        4327.93
Suburban    19356.33
Urban       39854.38
Name: fare, dtype: float64

In [6]:
#  4. Get the average fare per ride for each city type. 
pyber_data_df.groupby(['type']).sum()['fare'] / pyber_data_df.groupby(['type']).count()['ride_id']

type
Rural       34.623440
Suburban    30.970128
Urban       24.525772
dtype: float64

In [7]:
# 5. Get the average fare per driver for each city type. 
pyber_data_df.groupby(['type']).sum()['fare'] / pyber_data_df.groupby(['type']).sum()['driver_count']

type
Rural       8.059460
Suburban    2.258615
Urban       0.668675
dtype: float64

In [8]:
#  6. Create a PyBer summary DataFrame. 
my_df = pyber_data_df.merge(pyber_data_df.groupby(['city']).count()['ride_id'],pyber_data_df.groupby(['city']).sum()['driver_count']),how = "left",on=["city"]

SyntaxError: can't assign to function call (<ipython-input-8-8ffe6c2d8885>, line 2)

In [ ]:
#  7. Cleaning up the DataFrame. Delete the index name
pyber_summary_df.index.name = None

In [ ]:
#  8. Format the columns.

## Deliverable 2.  Create a multiple line plot that shows the total weekly of the fares for each type of city.

In [ ]:
# 9. Using groupby() on the pyber_data_df to create a new DataFrame showing the sum of the fares 
#  for each date where the indices are the city type and date.
my_df = pyber_data_df.groupby(['type','date']).sum()['fare']
my_df.head()

In [ ]:
# 10. Reset the index on the DataFrame you created in #1. This is needed to use the 'pivot()' function.
my_df = my_df.reset_index()

In [14]:
# 11. Create a pivot table with the 'date' as the index, the columns ='type', and values='fare' 
# to get the total fares for each type of city by the date. 
pivot_table = pyber_data_df.groupby(["type","date"]).sum()[["fare"]]
pivot_table.tail(50)

                            fare
type  date
Urban 2019-05-04 04:36:23   5.36
      2019-05-04 09:10:40  28.30
      2019-05-04 09:50:38  21.62
      2019-05-04 10:28:25  41.54
      2019-05-04 11:41:43  33.11
      2019-05-04 12:38:38   8.81
      2019-05-04 14:48:56  25.66
      2019-05-04 14:56:45  32.80
      2019-05-04 15:20:09  36.77
      2019-05-04 15:30:04  28.93
      2019-05-04 21:50:30  21.44
      2019-05-05 00:44:55   7.76
      2019-05-05 01:24:06  27.57
      2019-05-05 02:00:02  21.74
      2019-05-05 03:19:39  22.24
      2019-05-05 05:18:46  10.15
      2019-05-05 06:26:50  25.30
      2019-05-05 09:46:32  26.54
      2019-05-05 10:34:50  17.05
      2019-05-05 11:21:47  18.77
      2019-05-05 14:17:49  23.66
      2019-05-05 15:15:23  38.15
      2019-05-05 15:47:32  37.75
      2019-05-05 17:29:14  30.47
      2019-05-05 17:38:07  14.95
      2019-05-06 01:06:46  17.63
      2019-05-06 05:05:46  43.43
      2019-05-06 12:39:09  40.79
      2019-05-06 19:34:45  26.43
      2019-05-06 22:21:58  27.16
      2019-05-06 23:22:49  25.76
      2019-05-07 01:03:12  12.35
      2019-05-07 02:52:22  36.51
      2019-05-07 05:55:00   6.89
      2019-05-07 08:47:24  25.83
      2019-05-07 10:11:06  29.66
      2019-05-07 11:23:59  22.72
      2019-05-07 12:25:01   4.47
      2019-05-07 12:30:58  34.03
      2019-05-07 14:58:12  36.22
      2019-05-07 17:27:48   6.39
      2019-05-07 20:05:15  24.20
      2019-05-07 20:22:19  18.74
      2019-05-08 01:54:18  32.69
      2019-05-08 02:31:25  41.33
      2019-05-08 04:20:00  21.99
      2019-05-08 04:39:49  18.45
      2019-05-08 07:29:01  18.55
      2019-05-08 11:38:35  19.77
      2019-05-08 13:10:18  18.04

In [ ]:
# 12. Create a new DataFrame from the pivot table DataFrame using loc on the given dates, '2018-01-01':'2018-04-29'.

In [ ]:
# 13. Set the "date" index to datetime datatype. This is necessary to use the resample() method in Step 8.
# df.index = pd.to_datetime(df.index)

In [ ]:
# 14. Check that the datatype for the index is datetime using df.info()

In [ ]:
# 15. Create a new DataFrame using the "resample()" function by week 'W' and get the sum of the fares for each week.

In [ ]:
# 16. Using the object-oriented interface method, plot the resample DataFrame using the df.plot() function. 

# Import the style from Matplotlib.
from matplotlib import style
# Use the graph style fivethirtyeight.
style.use('fivethirtyeight')